<!DOCTYPE html>

<html>
  <head>
    <title>Get Date API Microservice</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="./public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/2015-12-25">[project url]/api/2015-12-25</a></li>
        <li><a href="api/1451001600000">[project url]/api/1451001600000</a></li>
      </ul>

      <form id="date-form">
        <label for="date-input">Enter a date:</label>
        <input
          type="text"
          id="date-input"
          placeholder="Ex. 2015-12-25, or 1451001600000"
        />
        <button type="submit">Submit</button>
      </form>

      <h3>Example Output:</h3>
      <p>
        <code
          >{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code
        >
      </p>
    </div>
    <div class="footer">
      <p>
        A microservice by <a href="https://github.com/james-gannon">James</a>
      </p>
    </div>
    <script type="text/javascript" src="/myApp.js"></script>
  </body>
</html>
